<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= title %></title>
        <link rel="apple-touch-icon" sizes="180x180" href="./img/apple-touch-icon.png">
       <link rel="icon" type="image/png" sizes="32x32" href="./img/favicon-32x32.png">
       <link rel="icon" type="image/png" sizes="16x16" href="./img/favicon-16x16.png">
       <link rel="manifest" href="./img/site.webmanifest">
       <link rel="mask-icon" href="./img/safari-pinned-tab.svg" color="#5bbad5">
       <meta name="msapplication-TileColor" content="#2b5797">
       <meta name="theme-color" content="#ffffff">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%- include('partials/head')%>
    </head>
    <body>
        <%- include('partials/navigation')%>

        <main class="vh-100 container mt-800 text-center d-flex pt-5">
            <section class="podcast">
                
            <h1 class="pt-2"> <strong>Podcast Temporada Uno</strong></h1>
            <hr>
            <br>
            <div class=" bg-dark bg-opacity-75 rounded pt-5 pb-5 " id="podcast">
            <p>
              
              <h1>Ecosistema Digital Comercial</h1>
              <br>
              
              En esta primer temporada desarrollamos información enfocada <br/>en lo que es un <strong>Ecosistema Digital Comercial.</strong> En la actualidad el gran paradigma que tenemos que entender <br/>es los usos y costumbres que en la actualidad la sociedad esta adoptando, la forma de adquirir productos <br/> y servicios se esta realizando de forma digital,
              es por eso que este contenido  tiene la finalidad de explicar y conceptualizar los canales que integran este ecosistema.  
              
            </p>
          </div>
        <div class="container d-flex justify-content-center align-items-center gap-2 mt-5">            
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/79x4j9g0rTqBksDaIzYlFB?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>             
        </div>

        <div class="container d-flex justify-content-center align-items-center gap-2 mt-5">
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/0BVF6FAYfFGIe0bGTSNFxS?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>

        <div class="container d-flex justify-content-center align-items-center gap-2 mt-5">
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/4JM0ouSeHgVWd6VVb9Ixll?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>

        <div class="container d-flex justify-content-center align-items-center gap-2 mt-5">
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/10XpnJPzIlmdnAzBo3zOiX?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>

        <div class="container d-flex justify-content-center align-items-center gap-2 mt-5">
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/28I5lG0Prc4Hg0Nk7wVP8e?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>            
        </div>


        <div class="container d-flex justify-content-center align-items-center gap-2 mt-5">           
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/1mqiYOnnctqYhrVgTjy82g?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>            
        </div>

        <div class="container d-flex justify-content-center align-items-center gap-2 mt-5">
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/3h0jDDJv46V3FeHXEE5Ezh?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>

        <div class="container d-flex justify-content-center align-items-center gap-2 mt-5">
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/2WdG64OSG8I5XjtsNpQi82?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>

        <div class="container d-flex justify-content-center align-items-center gap-2 mt-5">
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/4UPgpCNra65JyJ8s6yIakv?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
       
        <div class="container d-flex justify-content-center align-items-center gap-2 mt-5">
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/3hceBXdgPhq7J2QllOqvyt?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>             
        </div>       
        <br>

          <h1 class="pt-5"> <strong>Podcast Temporada Dos</strong></h1>
       <hr>
         <br>
      <div class=" bg-dark bg-opacity-75 rounded pt-5 pb-5" id="podcast">
       <p>      
        <h1>La Antesala De La Transformación</h1>
        <br>

      En esta Miniserie en la cual los episodios estan en un solo archivo de audio, nos enfocamos  <br>en la primordial necesidad de hacer un analisis introspectivo de como nos relacionamos comercial y personalmente que <br> lamentablemente   la avidez le esta ganando a lo que en algun momento puede ser justo.
      
      </p>
    </div>
     <div class="container d-flex justify-content-center align-items-center gap-2 mt-5">    
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/17Im7BzN9zZHgK2vfJrhnI?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>        
     </div>
     <br>      
         <h1 class="pt-5"><strong>Podcast Temporada Tres</strong></h1>
    <hr>    
    <br>
    <div class=" bg-dark bg-opacity-75 rounded pt-5 pb-5 " id="podcast">
    <p>
      <h1>Estructura De Un Modelo De Negocio Digital</h1>      
      <br>
      A lo largo de estos 15 episodios analizamos un mapa de como esta estructurado un negocio apartir de la infraestructura digital que en la actualidad esta <br>creando nuevos paradigmas de consumo y de emprendimiento.
      El cual consta de tres fases <strong class="text-info">1)Concepción</strong>  <strong class="text-info">2)Creación</strong>  <strong class="text-info">3)Conversión</strong>.
      Esta temporada tambien la puedes encontrar aqui en el canal de <a href="https://www.youtube.com/channel/UC8UhdMAKJX56O2PY8kzBIlw" target="_blank"><strong>YouTube</strong></a> totalmente en formato audiovisual
      <a href="https://danyveneno.github.io/presentacion/" target="_blank"><strong>Aqui Encuentras el mapa</strong></a>
      
    </p>
    </div>
    <div class="container d-flex justify-content-center align-items-center gap-2 mt-5">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/3Liz5MaKNnwxnBkrE7qXQg?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>

    <div class="container d-flex justify-content-center align-items-center gap-2 mt-5">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/2TipzKdwUbYwPXMvzrc6Hw?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>

    <div class="container d-flex justify-content-center align-items-center gap-2 mt-5">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/3lnMGuEDXM4rQacYB4cLG0?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>

    <div class="container d-flex justify-content-center align-items-center gap-2 mt-5">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/5kBtAKk2HgQCaRfu03cLpz?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>        
   </div>

   <div class="container d-flex justify-content-center align-items-center gap-2 mt-5">
   <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/5ClU5aVK4SNFqrc7uCUjUT?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="container d-flex justify-content-center align-items-center gap-2 mt-5">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/1IxhbtOQ6desS8MHPTdhRA?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="container d-flex justify-content-center align-items-center gap-2 mt-5">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/2nqkRJXq7dKJ7TUqpGKOsV?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="container d-flex justify-content-center align-items-center gap-2 mt-5">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/16jCDj5qvEosw6ULNthtRJ?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="container d-flex justify-content-center align-items-center gap-2 mt-5">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/3mfn7W2MK2hwnhwdtWbTsH?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="container d-flex justify-content-center align-items-center gap-2 mt-5">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/5nNfAFEtSwpY0ZXGDRpzzx?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="container d-flex justify-content-center align-items-center gap-2 mt-5">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/3DMtpm7WpBrH1IzYFWdFUJ?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="container d-flex justify-content-center align-items-center gap-2 mt-5">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/5MAlwo7w1d09ly4hVrzk9x?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="container d-flex justify-content-center align-items-center gap-2 mt-5">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/2coWSEJcCAjGHEXnV1mEG7?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="container d-flex justify-content-center align-items-center gap-2 mt-5">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/0rM2VrweQ4IbBG1GZtRu0J?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="container d-flex justify-content-center align-items-center gap-2 mt-5">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/0yfkxxAbTv47hIOhwxdwno?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <br/>
    
         <h1 class="pt-5"><strong>Podcast Temporada Cuatro</strong></h1>
    <hr>    
    <br>

  <div class=" bg-dark bg-opacity-75 rounded pt-5 pb-5 " id="podcast">
    <p>
      <h1>Personalizame Profesional</h1>      
      <br>
      En esta temporada nos enfocaremos en algunos de nuestros servicios complementarios
      que se derivan de un manual de identidad comercial, <br/> principalmente en el manejo del objeto grafico que representa la marca y las diferentes formas de llevar acabo la personalizaciòn en las diferentes tecnicas tradicionales y las màs nuevas tecnicas digitales.
      
    </p>
    </div>
    <div class="container d-flex justify-content-center align-items-center gap-2 mt-5">

      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/0beki8Ojhqp1WZSvPPMnYU/video?utm_source=generator" width="100%" height="351" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>


      
    </div>
    <div class="container d-flex justify-content-center align-items-center gap-2 mt-5"></div>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/6NjPyzRJSigTkf6yXEqfDK/video?utm_source=generator" width="100%" height="351" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
    <br/>

    <br/>
<br/>
<%- include('partials/footer')%>
    
  </section>
  
</main>


  </body>       
    
</html>