<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= title %></title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./img/favicon-16x16.png"
    />
    <link rel="manifest" href="./img/site.webmanifest" />
    <link rel="mask-icon" href="./img/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#2b5797" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%- include('partials/head')%>
  </head>
  <body>
    <%- include('partials/navigation')%>

    <main class="vh-300 container py-5">
      <!--inicia primera seccion-->
      <br>
      <br>
      <br>
      <br>
      <div class="container">
        <div class="ratio ratio-16x9">
          

          <iframe  class="embed-responsive-item absolute top-0 right-0 bottom-0 left-0 w-full h-full" src="https://www.youtube.com/embed/2aTtJGdyTMw" title="disruptio" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

         
        </div>
      </div>
      <hr class="my-5" />
      <p class="fs-4 text-white my-5 text-center">
        En esta sección encontraras algunos de los proyectos desarrollados a lo
        largo de los ultimos 5 años.
      </p>
      <div class="p-5 mb-4 bg-dark rounded-3" id="heros">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Tienda en Linea</h1>
          <img src="/img/tienda.png" class="card-img-top" alt="..." />
          <p class="col-md-8 fs-4 text-white my-5">

           <p>Esta tienda en linea esta desarrollada con tecnologias como:</p> 

           <br>
              <a class="btn btn-dark" data-bs-toggle="collapse" href="#nextjs" role="button" aria-expanded="false" aria-controls="collapseExample">
                Next.Js
              </a>
              <a class="btn btn-dark" data-bs-toggle="collapse" href="#reactjs" role="button" aria-expanded="false" aria-controls="collapseExample">
                React.Js
              </a>
              
            
            <div class="collapse" id="nextjs">
              <div class="card card-body text-light">
                Next.js es un marco de desarrollo de aplicaciones web de React de código abierto. Proporciona una solución completa y lista para producción para la creación de aplicaciones web en React con renderizado del lado del servidor (SSR) y generación de sitios estáticos.
              </div>
            </div>
            <div class="collapse" id="reactjs">
              <div class="card card-body text-light">
                React.Js es una biblioteca de JavaScript de código abierto utilizada para construir interfaces de usuario. Permite a los desarrolladores crear componentes reutilizables que se pueden utilizar en diferentes partes de una aplicación web.
              </div>
            </div>
            
              <a class="btn btn-dark" data-bs-toggle="collapse" href="#mongodb" role="button" aria-expanded="false" aria-controls="collapseExample">
                MongoDB
              </a>
              <a class="btn btn-dark" data-bs-toggle="collapse" href="#nodejs" role="button" aria-expanded="false" aria-controls="collapseExample">
                Node.Js
              </a>
              
          
            <div class="collapse" id="mongodb">
              <div class="card card-body text-light">
                MongoDB es un sistema de gestión de bases de datos NoSQL (no relacional) orientado a documentos. A diferencia de las bases de datos relacionales tradicionales que almacenan datos en tablas y filas, MongoDB almacena datos en documentos flexibles similares a JSON, lo que permite una mayor flexibilidad y escalabilidad en el manejo de datos.
              </div>
            </div>
            <div class="collapse" id="nodejs">
              <div class="card card-body text-light">
                Node.js es un entorno de tiempo de ejecución de código abierto basado en el motor de JavaScript V8 de Google. Permite ejecutar código JavaScript en el servidor, lo que lo hace ideal para desarrollar aplicaciones web y servicios del lado del servidor.
              </div>
            </div>

             
              <a class="btn btn-dark" data-bs-toggle="collapse" href="#tailwindcss" role="button" aria-expanded="false" aria-controls="collapseExample">
                TailwindCss
              </a>
              <a class="btn btn-dark" data-bs-toggle="collapse" href="#aws3" role="button" aria-expanded="false" aria-controls="collapseExample">
                AWS/S3
              </a>
              
            
            <div class="collapse" id="tailwindcss">
              <div class="card card-body text-light">
                Tailwind CSS es un framework de diseño de interfaz de usuario (UI) de código abierto que utiliza clases CSS predefinidas para crear diseños consistentes y personalizados. Con Tailwind CSS, los desarrolladores pueden crear diseños complejos con menos código que con otros frameworks CSS.
              </div>
            </div>
            <div class="collapse" id="aws3">
              <div class="card card-body text-light">
                AWS S3 (Amazon Simple Storage Service) es un servicio de almacenamiento en la nube altamente escalable y duradero ofrecido por Amazon Web Services (AWS). S3 permite almacenar y recuperar grandes cantidades de datos en cualquier momento y desde cualquier lugar a través de internet.
              </div>
            </div>
        
              <a class="btn btn-dark" data-bs-toggle="collapse" href="#styledcomp" role="button" aria-expanded="false" aria-controls="collapseExample">
                Styled Components
              </a>
              <a class="btn btn-dark" data-bs-toggle="collapse" href="#strippe" role="button" aria-expanded="false" aria-controls="collapseExample">
               Stripe
              </a>
              
            
            <div class="collapse" id="styledcomp">
              <div class="card card-body text-light">
                Styled Components es una biblioteca de estilización para aplicaciones web en React. Permite escribir estilos CSS directamente en los componentes de React utilizando sintaxis similar a la de CSS o SCSS.
              </div>
            </div>
            <div class="collapse" id="strippe">
              <div class="card card-body text-light">
                Stripe es una plataforma de pagos en línea que permite a las empresas y organizaciones aceptar pagos por internet. Proporciona una solución integral para el procesamiento de pagos en línea, que incluye funcionalidades como la gestión de suscripciones, pagos con tarjeta de crédito y débito, pagos móviles, transferencias bancarias y más.
              </div>
            </div>

              <a class="btn btn-dark" data-bs-toggle="collapse" href="#googleauth" role="button" aria-expanded="false" aria-controls="collapseExample">
                GoogleAuth
              </a>            
            
            <div class="collapse" id="googleauth">
              <div class="card card-body text-light">
                Google Auth, también conocido como Google Sign-In, es un servicio de autenticación ofrecido por Google que permite a los usuarios iniciar sesión en aplicaciones y sitios web utilizando sus credenciales de Google. Con Google Auth, los usuarios pueden iniciar sesión de manera conveniente y segura sin la necesidad de crear una cuenta separada.
              </div>
            </div>
            
          </p>
        <br>
        <br>
          
          <div class="d-grid gap-2">
            <button class="btn btn-outline-secondary" type="button">
             <a href="http://" target="_blank" rel="noopener noreferrer"> Ver Video</a>
            </button>
          </div>
        </div>
      </div>

      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>Sitio Web con objetos 3D</h2>
            <img src="/img/3d.png" class="card-img-top" alt="..." />
            <br />
            <br />
            <p>
              Este sitio web esta desarrollado con las
              siguientes tecnologías :
              
            </p>
            <a class="btn btn-dark" data-bs-toggle="collapse" href="#hachetml" role="button" aria-expanded="false" aria-controls="collapseExample">
              HTML
            </a>
            <a class="btn btn-dark" data-bs-toggle="collapse" href="#seeseese" role="button" aria-expanded="false" aria-controls="collapseExample">
             CSS
            </a>
            
          
          <div class="collapse" id="seeseese">
            <div class="card card-body text-light">
              CSS (Cascading Style Sheets) es un lenguaje de estilo utilizado para describir la presentación y el diseño de un documento HTML (página web). Con CSS, los desarrolladores pueden controlar la apariencia y el formato de los elementos HTML en una página, como el color, la tipografía, el tamaño, el espaciado, el diseño y otros aspectos visuales.
            </div>
          </div>
          <div class="collapse" id="hachetml">
            <div class="card card-body text-light">
              HTML (HyperText Markup Language) es el lenguaje de marcado estándar utilizado para crear y estructurar el contenido de páginas web en la World Wide Web. Es el lenguaje fundamental para la creación de sitios web y se utiliza junto con CSS (Cascading Style Sheets) y JavaScript para dar forma y funcionalidad a las páginas web.
            </div>
          </div>


          <a class="btn btn-dark" data-bs-toggle="collapse" href="#threejs" role="button" aria-expanded="false" aria-controls="collapseExample">
            Three.JS
           </a>
           
         
         <div class="collapse" id="threejs">
           <div class="card card-body text-light">
            Three.js es una biblioteca de JavaScript que permite crear y renderizar gráficos 3D en un navegador web. Se utiliza comúnmente para crear animaciones y visualizaciones interactivas en línea.
           </div>
         </div>

          <br/>
          <br/>
          
            <div class="d-grid gap-2">
              <button 
              class="btn btn-outline-secondary" type="button"
              
              >
              <a href="https://3dportafolio.netlify.app/" target="_blank" rel="noopener noreferrer">Navegar en la App</a>  
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6 text-black" id="calculadora">
          <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Calculadora</h2>
            <img src="/img/calculadora.png" class="card-img-top" alt="..." />
            <br>
            <br>
            <p>
              Este sitio web esta desarrollado con las
              siguientes tecnologías :
              
            </p>
            <a class="btn btn-light" data-bs-toggle="collapse" href="#hachetml2" role="button" aria-expanded="false" aria-controls="collapseExample">
              HTML
            </a>
            <a class="btn btn-light" data-bs-toggle="collapse" href="#seeseese2" role="button" aria-expanded="false" aria-controls="collapseExample">
             CSS
            </a>
            
          
          <div class="collapse" id="seeseese2">
            <div class="card card-body text-light">
              CSS (Cascading Style Sheets) es un lenguaje de estilo utilizado para describir la presentación y el diseño de un documento HTML (página web). Con CSS, los desarrolladores pueden controlar la apariencia y el formato de los elementos HTML en una página, como el color, la tipografía, el tamaño, el espaciado, el diseño y otros aspectos visuales.
            </div>
          </div>
          <div class="collapse" id="hachetml2">
            <div class="card card-body text-light">
              HTML (HyperText Markup Language) es el lenguaje de marcado estándar utilizado para crear y estructurar el contenido de páginas web en la World Wide Web. Es el lenguaje fundamental para la creación de sitios web y se utiliza junto con CSS (Cascading Style Sheets) y JavaScript para dar forma y funcionalidad a las páginas web.
            </div>
          </div>


          <a class="btn btn-light" data-bs-toggle="collapse" href="#js" role="button" aria-expanded="false" aria-controls="collapseExample">
           JavaScript
           </a>
           
         
         <div class="collapse" id="js">
           <div class="card card-body text-light">
            JavaScript es un lenguaje de programación de alto nivel, interpretado y orientado a objetos, que se utiliza principalmente en el desarrollo de aplicaciones web interactivas. Es uno de los lenguajes más populares y ampliamente utilizados en el desarrollo front-end y back-end.
           </div>
         </div>

<br/>
<br/>
            
            <div class="d-grid gap-2" >
              <button class="btn btn-outline-secondary text-secondary" type="button" >
               <a href="https://danyveneno.github.io/CalculadoraJS/" target="_blank" rel="noopener noreferrer" id="bhoton"> Navegar en la App</a>
              </button>
            </div>
          </div>
        </div>
      </div>
      <br />
      <br />

      <!--masonry inicio-->
      <div class="row" data-masonry='{"percentPosition": true }'>
        <div class="col-sm-6 col-lg-4 mb-4">
          
          <div class="card" id="btngasp1">
            <img src="/img/animate.png" class="card-img-top" alt="..." />

            <div class="card-body text-black" >
              <h5 class="card-title ">Pagina Web Animada</h5>
              <p class="card-text">
                Esta pagina esta animada con:
                <ul>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>GSAP(Libreria)</li>
                </ul>
              </p>
              
              <a href="https://danyveneno.github.io/animationGsap/" target="_blank" class="card-link " id="btngasp">Navegar en la App</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4" id="quote" >
          <div class="card p-3">
            <figure class="p-3 mb-0" >
              <blockquote class="blockquote"  >
                <p >GSAP proporciona una amplia gama de funciones y características para facilitar la creación de animaciones. </p>
              </blockquote>
              <figcaption class="blockquote-footer mb-0 text-muted">
                GSAP <cite title="Source Title">(GreenSock Animation Platform)</cite>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4 text-dark">
          <div class="card">
            <img src="/img/animate2.png" class="card-img-top" alt="..." />

            <div class="card-body">
              <h5 class="card-title">Tarjetas Animadas</h5>
              <p class="card-text">
                Esta pagina esta animada con las Siguientes Tecnologias:
                <ul>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>GSAP(Libreria)</li>
                </ul>
              </p>
              <a href="https://danyveneno.github.io/cardsGSAP/" target="_blank" class="card-link" id="btngasp">Navegar en la App</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4">
          <div class="card text-bg-dark text-center p-3" >
            <figure class="mb-0">
              <blockquote class="blockquote">
                <p>Ambos aspectos son fundamentales para crear productos digitales exitosos y brindar a los usuarios una experiencia positiva y efectiva.</p>
              </blockquote>
              <figcaption class="blockquote-footer mb-0 text-white">
                Disrupt <cite title="Source Title">Yourself or not!</cite>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4">
          <div class="card text-center" id="dime1">
            <div class="card-body">
              <h5 class="card-title">UI (User Interface)</h5>
              <p class="card-text text-light">
                El diseño de UI se centra en hacer que la interfaz sea visualmente atractiva, intuitiva y fácil de usar.
              </p>
              <p class="card-text">
                <small class="text-muted">Necesidades Funcionales</small>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4">
          <div class="card">
            <a href="https://danyveneno.github.io/galleryGasp/" target="_blank" rel="noopener noreferrer"><img src="/img/carusell.png" alt="carrusel" class="img-fluid"></a>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4">
          <div class="card p-3 text-end " id="dime2">
            <figure class="mb-0">
              <blockquote class="blockquote">
                <p>UX (User Experience) y UI (User Interface) son dos conceptos relacionados pero distintos en el diseño de productos digitales, como aplicaciones móviles y sitios web.</p>
              </blockquote>
              <figcaption class="blockquote-footer mb-0 text-muted">
                Someone famous in <cite title="Source Title">Source Title</cite>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4">
          <div class="card" id="dime3">
            <div class="card-body">
              <h5 class="card-title">UX(User Experience)</h5>
              <p class="card-text">
                El objetivo principal del diseño de UX es crear una experiencia positiva y significativa para el usuario.
              </p>
              <p class="card-text">
                <small class="text-muted">Necesidades Funcionales</small>
              </p>
            </div>
          </div>
        </div>
      </div>
<!--masonry cierre-->
      <!--jumbo-->

      <div class="p-5 mb-4 bg-dark rounded-3" id="heros">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Tienda en Linea 2</h1>
          <img src="/img/tiendaenlinea.png" class="card-img-top" alt="..." />
          <p class="col-md-8 fs-4 text-white my-5">

           <p>Esta tienda en linea esta desarrollada con tecnologias como:</p> 

           <br>
              
              <a class="btn btn-dark" data-bs-toggle="collapse" href="#reactjs" role="button" aria-expanded="false" aria-controls="collapseExample">
                React.Js
              </a>
              
            
           
            
            <div class="collapse" id="reactjs">
              <div class="card card-body text-light">
                React.Js es una biblioteca de JavaScript de código abierto utilizada para construir interfaces de usuario. Permite a los desarrolladores crear componentes reutilizables que se pueden utilizar en diferentes partes de una aplicación web.
              </div>
            </div>
            
              <a class="btn btn-dark" data-bs-toggle="collapse" href="#commercejs" role="button" aria-expanded="false" aria-controls="collapseExample">
                Commerce.Js
              </a>
              <a class="btn btn-dark" data-bs-toggle="collapse" href="#stripe" role="button" aria-expanded="false" aria-controls="collapseExample">
                Stripe
              </a>
              
          
            <div class="collapse" id="commercejs">
              <div class="card card-body text-light">
                Commerce.js es una plataforma de comercio electrónico y API de backend que permite a los desarrolladores construir y personalizar tiendas en línea de manera flexible y escalable. Proporciona todas las funcionalidades esenciales para crear una tienda en línea, como gestión de productos, carrito de compras, pagos, envíos y más.
              </div>
            </div>
            <div class="collapse" id="stripe">
              <div class="card card-body text-light">
                Stripe es una plataforma de pagos en línea que permite a las empresas y organizaciones aceptar pagos por internet. Proporciona una solución integral para el procesamiento de pagos en línea, que incluye funcionalidades como la gestión de suscripciones, pagos con tarjeta de crédito y débito, pagos móviles, transferencias bancarias y más.
              </div>
            </div>

             
              <a class="btn btn-dark" data-bs-toggle="collapse" href="#mui" role="button" aria-expanded="false" aria-controls="collapseExample">
                MUI
              </a>
              
              
            
            <div class="collapse" id="mui">
              <div class="card card-body text-light">
                MUI (Material-UI) es una biblioteca de componentes de interfaz de usuario (UI) para React, basada en el diseño y las directrices de Material Design de Google. Material-UI proporciona una amplia gama de componentes predefinidos, como botones, barras de navegación, tarjetas, formularios y más, que siguen los principios de diseño y estilo de Material Design.
              </div>
            </div>          
        <br>
        <br>
          
          <div class="d-grid gap-2">
            <button class="btn btn-outline-secondary" type="button">
             <a href="http://" target="_blank" rel="noopener noreferrer"> Navegar en la Tienda</a>
            </button>
          </div>
        </div>
      </div>

      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>Pagina Web / Webpack2023</h2>
            <img src="/img/webpack2.png" class="card-img-top" alt="webpack" />
            <br />
            <br />
            <p>
              Este sitio web esta desarrollado con las
              siguientes tecnologías :
              
            </p>
            <a class="btn btn-dark" data-bs-toggle="collapse" href="#rheactjs" role="button" aria-expanded="false" aria-controls="collapseExample">
              React.JS
            </a>
            <a class="btn btn-dark" data-bs-toggle="collapse" href="#tailwind" role="button" aria-expanded="false" aria-controls="collapseExample">
             TailwindCss
            </a>
            
          
          <div class="collapse" id="tailwind">
            <div class="card card-body text-light">
              Tailwind CSS es un framework de diseño de interfaz de usuario (UI) de código abierto que utiliza clases CSS predefinidas para crear diseños consistentes y personalizados. Con Tailwind CSS, los desarrolladores pueden crear diseños complejos con menos código que con otros frameworks CSS.
            </div>
          </div>
          <div class="collapse" id="rheactjs">
            <div class="card card-body text-light">
              React.Js es una biblioteca de JavaScript de código abierto utilizada para construir interfaces de usuario. Permite a los desarrolladores crear componentes reutilizables que se pueden utilizar en diferentes partes de una aplicación web.
            </div>
          </div>


          

         <br/>
         <br/>
          
            <div class="d-grid gap-2">
              <button 
              class="btn btn-outline-secondary" type="button"
              
              >
              <a href="https://website-2023-2.netlify.app/" target="_blank" rel="noopener noreferrer">Navegar en la Pagina</a>  
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6 text-black" id="calculadora">
          <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Sitio Web / Webpack2023</h2>
            <img src="/img/webpack1.png" class="card-img-top" alt="webpack" />
            <br>
            <br>
            <p>
              Este sitio web esta desarrollado con las
              siguientes tecnologías :
              
            </p>
            <a class="btn btn-light" data-bs-toggle="collapse" href="#hachetml2" role="button" aria-expanded="false" aria-controls="collapseExample">
              HTML
            </a>
            <a class="btn btn-light" data-bs-toggle="collapse" href="#seeseese2" role="button" aria-expanded="false" aria-controls="collapseExample">
             CSS
            </a>
            
          
          <div class="collapse" id="seeseese2">
            <div class="card card-body text-light">
              CSS (Cascading Style Sheets) es un lenguaje de estilo utilizado para describir la presentación y el diseño de un documento HTML (página web). Con CSS, los desarrolladores pueden controlar la apariencia y el formato de los elementos HTML en una página, como el color, la tipografía, el tamaño, el espaciado, el diseño y otros aspectos visuales.
            </div>
          </div>
          <div class="collapse" id="hachetml2">
            <div class="card card-body text-light">
              HTML (HyperText Markup Language) es el lenguaje de marcado estándar utilizado para crear y estructurar el contenido de páginas web en la World Wide Web. Es el lenguaje fundamental para la creación de sitios web y se utiliza junto con CSS (Cascading Style Sheets) y JavaScript para dar forma y funcionalidad a las páginas web.
            </div>
          </div>


          <a class="btn btn-light" data-bs-toggle="collapse" href="#jss" role="button" aria-expanded="false" aria-controls="collapseExample">
           JavaScript
           </a>
           
         
         <div class="collapse" id="jss">
           <div class="card card-body text-light">
            JavaScript es un lenguaje de programación de alto nivel, interpretado y orientado a objetos, que se utiliza principalmente en el desarrollo de aplicaciones web interactivas. Es uno de los lenguajes más populares y ampliamente utilizados en el desarrollo front-end y back-end.
           </div>
         </div>

         <a class="btn btn-light" data-bs-toggle="collapse" href="#bootstrap" role="button" aria-expanded="false" aria-controls="collapseExample">
          Bootstrap
          </a>
          
        
        <div class="collapse" id="bootstrap">
          <div class="card card-body text-light">
            Bootstrap es una popular biblioteca de código abierto que proporciona un conjunto de herramientas y componentes para la creación rápida y sencilla de interfaces de usuario (UI) responsivas y con un diseño moderno. Fue desarrollado por Twitter y se ha convertido en una de las opciones más utilizadas para el diseño y desarrollo de sitios web y aplicaciones web.
          </div>
        </div>

<br>
<br>
            
            <div class="d-grid gap-2" >
              <button class="btn btn-outline-secondary text-secondary" type="button" >
               <a href="https://danyveneno.github.io/laFruteria/index.html#0" target="_blank" rel="noopener noreferrer" id="bhoton"> Navegar en el Sitio Web</a>
              </button>
            </div>
          </div>
        </div>
      </div>
      <br />
      <br />
      <!--termina primera seccion-->


      <!--inicia primera seccion-->
      <hr class="my-5" />
      <p class="fs-4 text-white my-5 text-center">
        En esta sección encontraras algunos de los proyectos desarrollados a lo
        largo de los ultimos 5 años.
      </p>
      <div class="p-5 mb-4 bg-dark rounded-3" id="heros">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Tienda en Linea 3</h1>
          <img src="/img/tienda3.png" class="card-img-top" alt="..." />
          <p class="col-md-8 fs-4 text-white my-5">

           <p>Esta tienda en linea esta desarrollada con tecnologias como:</p> 

           <br>
              <a class="btn btn-dark" data-bs-toggle="collapse" href="#nextjs3" role="button" aria-expanded="false" aria-controls="collapseExample">
                Next.Js
              </a>
              <a class="btn btn-dark" data-bs-toggle="collapse" href="#reactjs3" role="button" aria-expanded="false" aria-controls="collapseExample">
                React.Js
              </a>
              
            
            <div class="collapse" id="nextjs3">
              <div class="card card-body text-light">
                Next.js es un marco de desarrollo de aplicaciones web de React de código abierto. Proporciona una solución completa y lista para producción para la creación de aplicaciones web en React con renderizado del lado del servidor (SSR) y generación de sitios estáticos.
              </div>
            </div>
            <div class="collapse" id="reactjs3">
              <div class="card card-body text-light">
                React.Js es una biblioteca de JavaScript de código abierto utilizada para construir interfaces de usuario. Permite a los desarrolladores crear componentes reutilizables que se pueden utilizar en diferentes partes de una aplicación web.
              </div>
            </div>
            
              <a class="btn btn-dark" data-bs-toggle="collapse" href="#mongodb3" role="button" aria-expanded="false" aria-controls="collapseExample">
                MongoDB
              </a>
              <!--<a class="btn btn-dark" data-bs-toggle="collapse" href="#nodejs" role="button" aria-expanded="false" aria-controls="collapseExample">
                Node.Js
              </a>-->
              
          
            <div class="collapse" id="mongodb3">
              <div class="card card-body text-light">
                MongoDB es un sistema de gestión de bases de datos NoSQL (no relacional) orientado a documentos. A diferencia de las bases de datos relacionales tradicionales que almacenan datos en tablas y filas, MongoDB almacena datos en documentos flexibles similares a JSON, lo que permite una mayor flexibilidad y escalabilidad en el manejo de datos.
              </div>
            </div>
            <!--<div class="collapse" id="nodejs">
              <div class="card card-body text-black">
                Node.js es un entorno de tiempo de ejecución de código abierto basado en el motor de JavaScript V8 de Google. Permite ejecutar código JavaScript en el servidor, lo que lo hace ideal para desarrollar aplicaciones web y servicios del lado del servidor.
              </div>
            </div>-->

             
              <a class="btn btn-dark" data-bs-toggle="collapse" href="#tailwindcss3" role="button" aria-expanded="false" aria-controls="collapseExample">
                TailwindCss
              </a>
              <a class="btn btn-dark" data-bs-toggle="collapse" href="#cloudinary" role="button" aria-expanded="false" aria-controls="collapseExample">
                Cloudinary
              </a>
              
            
            <div class="collapse" id="tailwindcss3">
              <div class="card card-body text-light">
                Tailwind CSS es un framework de diseño de interfaz de usuario (UI) de código abierto que utiliza clases CSS predefinidas para crear diseños consistentes y personalizados. Con Tailwind CSS, los desarrolladores pueden crear diseños complejos con menos código que con otros frameworks CSS.
              </div>
            </div>
            <div class="collapse" id="cloudinary">
              <div class="card card-body text-light">
                Cloudinary se utiliza ampliamente en aplicaciones y sitios web que necesitan gestionar y entregar contenido multimedia de manera eficiente. Permite a las empresas reducir la carga de trabajo relacionada con el almacenamiento y procesamiento de activos multimedia, al tiempo que mejora el rendimiento y la experiencia del usuario al entregar contenido de manera rápida y optimizada.
              </div>
            </div>
        
              <!--<a class="btn btn-dark" data-bs-toggle="collapse" href="#styledcomp" role="button" aria-expanded="false" aria-controls="collapseExample">
                Styled Components
              </a>-->
              <a class="btn btn-dark" data-bs-toggle="collapse" href="#paypal" role="button" aria-expanded="false" aria-controls="collapseExample">
               Paypal
              </a>
              
            
            <!--<div class="collapse" id="styledcomp">
              <div class="card card-body text-black">
                Styled Components es una biblioteca de estilización para aplicaciones web en React. Permite escribir estilos CSS directamente en los componentes de React utilizando sintaxis similar a la de CSS o SCSS.
              </div>
            </div>-->
            <div class="collapse" id="paypal">
              <div class="card card-body text-light">
                PayPal es una plataforma de pagos en línea que permite a las personas y las empresas realizar transacciones financieras de forma segura a través de Internet. Fundada en 1998, PayPal se ha convertido en uno de los métodos de pago más populares y ampliamente aceptados en todo el mundo.
              </div>
            </div>

             <!-- <a class="btn btn-dark" data-bs-toggle="collapse" href="#googleauth" role="button" aria-expanded="false" aria-controls="collapseExample">
                NexthAuth
              </a>            
            
            <div class="collapse" id="googleauth">
              <div class="card card-body text-black">
                Google Auth, también conocido como Google Sign-In, es un servicio de autenticación ofrecido por Google que permite a los usuarios iniciar sesión en aplicaciones y sitios web utilizando sus credenciales de Google. Con Google Auth, los usuarios pueden iniciar sesión de manera conveniente y segura sin la necesidad de crear una cuenta separada.
              </div>
            </div>-->
            
          </p>
        <br>
        <br>
          
          <div class="d-grid gap-2">
            <button class="btn btn-outline-secondary" type="button">
             <a href="http://" target="_blank" rel="noopener noreferrer"> Ver Video</a>
            </button>
          </div>
        </div>
      </div>

      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>WebApp Resumén A.I.</h2>
            <img src="/img/resumen.png" class="card-img-top" alt="..." />
            <br />
            <br />
            <p>
              EstA webApp esta desarrollada con las
              siguientes tecnologías :
              
            </p>
            <a class="btn btn-dark" data-bs-toggle="collapse" href="#reactUno" role="button" aria-expanded="false" aria-controls="collapseExample">
              ReactJs
            </a>
            <a class="btn btn-dark" data-bs-toggle="collapse" href="#openaiapi" role="button" aria-expanded="false" aria-controls="collapseExample">
             Open A.I. API
            </a>
            
          
          <div class="collapse" id="openaiapi">
            <div class="card card-body text-light">
              La API de OpenAI, conocida como "OpenAI API", proporciona acceso a modelos de lenguaje generativos avanzados como GPT-3 (Generative Pre-trained Transformer 3). Estos modelos son capaces de generar texto coherente y humano-like, lo que permite aplicaciones en diversas áreas, como chatbots, asistentes virtuales, generación de contenido, traducción automática y mucho más.
            </div>
          </div>
          <div class="collapse" id="reactUno">
            <div class="card card-body text-light">
              React.Js es una biblioteca de JavaScript de código abierto utilizada para construir interfaces de usuario. Permite a los desarrolladores crear componentes reutilizables que se pueden utilizar en diferentes partes de una aplicación web.
            </div>
          </div>


          <a class="btn btn-dark" data-bs-toggle="collapse" href="#rapidapi" role="button" aria-expanded="false" aria-controls="collapseExample">
            RapidApi
           </a>
           <a class="btn btn-dark" data-bs-toggle="collapse" href="#tailwind3" role="button" aria-expanded="false" aria-controls="collapseExample">
            TailwindCss
           </a>
           
         
         <div class="collapse" id="rapidapi">
           <div class="card card-body text-light">
            RapidAPI es una plataforma que permite a los desarrolladores acceder y consumir múltiples APIs de forma unificada. Proporciona una interfaz única y estandarizada para interactuar con una amplia variedad de servicios y proveedores de APIs.
           </div>
         </div>
         <div class="collapse" id="tailwind3">
          <div class="card card-body text-light">
            Tailwind CSS es un framework de diseño de interfaz de usuario (UI) de código abierto que utiliza clases CSS predefinidas para crear diseños consistentes y personalizados. Con Tailwind CSS, los desarrolladores pueden crear diseños complejos con menos código que con otros frameworks CSS.
          </div>
        </div>

          <br/>
          <br/>
          
            <div class="d-grid gap-2">
              <button 
              class="btn btn-outline-secondary" type="button"
              
              >
              <a href="https://yehiibhiiresumen.netlify.app/" target="_blank" rel="noopener noreferrer">Navegar en la App</a>  
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-6 text-black" id="calculadora">
          <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Magic Open A.I. Prompts Web App</h2>
            <img src="/img/prompts.png" class="card-img-top" alt="..." />
            <br>
            <br>
            <p>
              Esta webApp esta desarrollada con las
              siguientes tecnologías :
              
            </p>
            <a class="btn btn-light" data-bs-toggle="collapse" href="#reactjs4" role="button" aria-expanded="false" aria-controls="collapseExample">
              React.Js
            </a>
            <a class="btn btn-light" data-bs-toggle="collapse" href="#nextjs4" role="button" aria-expanded="false" aria-controls="collapseExample">
             Next.Js
            </a>
            
          
          <div class="collapse" id="reactjs4">
            <div class="card card-body text-light">
              React.Js es una biblioteca de JavaScript de código abierto utilizada para construir interfaces de usuario. Permite a los desarrolladores crear componentes reutilizables que se pueden utilizar en diferentes partes de una aplicación web.
            </div>
          </div>
          <div class="collapse" id="nextjs4">
            <div class="card card-body text-light">
              Next.js es un marco de desarrollo de aplicaciones web de React de código abierto. Proporciona una solución completa y lista para producción para la creación de aplicaciones web en React con renderizado del lado del servidor (SSR) y generación de sitios estáticos.
            </div>
          </div>


          <a class="btn btn-light" data-bs-toggle="collapse" href="#mongo4" role="button" aria-expanded="false" aria-controls="collapseExample">
           MongoDB
           </a>
           <a class="btn btn-light" data-bs-toggle="collapse" href="#openai4" role="button" aria-expanded="false" aria-controls="collapseExample">
            Open A.I. API
            </a>

            <a class="btn btn-light" data-bs-toggle="collapse" href="#googlea" role="button" aria-expanded="false" aria-controls="collapseExample">
            GoogleAuth
            </a>
            <a class="btn btn-light" data-bs-toggle="collapse" href="#tailwinddd" role="button" aria-expanded="false" aria-controls="collapseExample">
              TailwindCss
              </a>
           
           
         
         <div class="collapse" id="mongo4">
           <div class="card card-body text-light">
            MongoDB es un sistema de gestión de bases de datos NoSQL (no relacional) orientado a documentos. A diferencia de las bases de datos relacionales tradicionales que almacenan datos en tablas y filas, MongoDB almacena datos en documentos flexibles similares a JSON, lo que permite una mayor flexibilidad y escalabilidad en el manejo de datos.
           </div>
         </div>
         <div class="collapse" id="openai4">
          <div class="card card-body text-light">
            La API de OpenAI, conocida como "OpenAI API", proporciona acceso a modelos de lenguaje generativos avanzados como GPT-3 (Generative Pre-trained Transformer 3). Estos modelos son capaces de generar texto coherente y humano-like, lo que permite aplicaciones en diversas áreas, como chatbots, asistentes virtuales, generación de contenido, traducción automática y mucho más.
          </div>
        </div>
        <div class="collapse" id="googlea">
          <div class="card card-body text-light">
            Google Auth, también conocido como Google Sign-In, es un servicio de autenticación ofrecido por Google que permite a los usuarios iniciar sesión en aplicaciones y sitios web utilizando sus credenciales de Google. Con Google Auth, los usuarios pueden iniciar sesión de manera conveniente y segura sin la necesidad de crear una cuenta separada.
          </div>
        </div>
        <div class="collapse" id="tailwinddd">
          <div class="card card-body text-light">
            Tailwind CSS es un framework de diseño de interfaz de usuario (UI) de código abierto que utiliza clases CSS predefinidas para crear diseños consistentes y personalizados. Con Tailwind CSS, los desarrolladores pueden crear diseños complejos con menos código que con otros frameworks CSS.
          </div>
        </div>

<br/>
<br/>
            
            <div class="d-grid gap-2" >
              <button class="btn btn-outline-secondary text-secondary" type="button" >
               <a href="https://magic-prompt-cbd4k4jh4-yehiibhiidigital-gmailcom.vercel.app/" target="_blank" rel="noopener noreferrer" id="bhoton"> Navegar en la WebApp</a>
              </button>
            </div>
          </div>
        </div>
      </div>
      <br />
      <br />

      <!--masonry inicio-->
      <div class="row" data-masonry='{"percentPosition": true }'>
        <div class="col-sm-6 col-lg-4 mb-4">
          
          <div class="card" id="btngasp1">
            <img src="/img/parallax.png" class="card-img-top" alt="..." />

            <div class="card-body text-black" >
              <h5 class="card-title ">Pagina Web Animada</h5>
              <p class="card-text">
                Esta pagina esta animada con:
                <ul>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>GSAP(Libreria)</li>
                </ul>
              </p>
              
              <a href="https://danyveneno.github.io/parallaxForest/" target="_blank" class="card-link " id="btngasp">Navegar en la App</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4" id="quote" >
          <div class="card p-3">
            <figure class="p-3 mb-0" >
              <blockquote class="blockquote"  >
                <p >GSAP proporciona una amplia gama de funciones y características para facilitar la creación de animaciones. </p>
              </blockquote>
              <figcaption class="blockquote-footer mb-0 text-muted">
                GSAP <cite title="Source Title">(GreenSock Animation Platform)</cite>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4 text-dark">
          <div class="card">
            <img src="/img/meta.png" class="card-img-top" alt="..." />

            <div class="card-body">
              <h5 class="card-title">Single web App</h5>
              <p class="card-text">
                Esta webapp esta animada con las Siguientes Tecnologias:
                <ul>
                  <li>React.Js</li>
                  <li>Next.Js</li>
                  <li>TailwindCss</li>
                </ul>
              </p>
              <a href="https://yehiibhiimetaversus.netlify.app/" target="_blank" class="card-link" id="btngasp">Navegar en la App</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4">
          <div class="card text-bg-dark text-center p-3" >
            <figure class="mb-0">
              <blockquote class="blockquote">
                <p>Ambos aspectos son fundamentales para crear productos digitales exitosos y brindar a los usuarios una experiencia positiva y efectiva.</p>
              </blockquote>
              <figcaption class="blockquote-footer mb-0 text-white">
                Disrupt <cite title="Source Title">Yourself or not!</cite>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4">
          <div class="card text-center" id="dime1">
            <div class="card-body">
              <h5 class="card-title">UI (User Interface)</h5>
              <p class="card-text text-black">
                El diseño de UI se centra en hacer que la interfaz sea visualmente atractiva, intuitiva y fácil de usar.
              </p>
              <p class="card-text">
                <small class="text-muted">Necesidades Funcionales</small>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4">
          <div class="card">
            <a href="https://danyveneno.github.io/panelGallery/" target="_blank" rel="noopener noreferrer"><img src="/img/panel.png" alt="carrusel" class="img-fluid"></a>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4">
          <div class="card p-3 text-end " id="dime2">
            <figure class="mb-0">
              <blockquote class="blockquote">
                <p>UX (User Experience) y UI (User Interface) son dos conceptos relacionados pero distintos en el diseño de productos digitales, como aplicaciones móviles y sitios web.</p>
              </blockquote>
              <figcaption class="blockquote-footer mb-0 text-muted">
                Someone famous in <cite title="Source Title">Source Title</cite>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4">
          <div class="card" id="dime3">
            <div class="card-body">
              <h5 class="card-title">UX(User Experience)</h5>
              <p class="card-text">
                El objetivo principal del diseño de UX es crear una experiencia positiva y significativa para el usuario.
              </p>
              <p class="card-text">
                <small class="text-muted">Necesidades Funcionales</small>
              </p>
            </div>
          </div>
        </div>
      </div>
<!--masonry cierre-->
      <!--jumbo-->

      <div class="p-5 mb-4 bg-dark rounded-3" id="heros">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">WebApp Open A.I. CustomYOURS</h1>
          <img src="/img/aicustom.png" class="card-img-top" alt="..." />
          <p class="col-md-8 fs-4 text-white my-5">

           <p>Esta tienda en linea esta desarrollada con tecnologias como:</p> 

           <br>
              
              <a class="btn btn-dark" data-bs-toggle="collapse" href="#reactjs5" role="button" aria-expanded="false" aria-controls="collapseExample">
                React.Js
              </a>
              
                      
            <div class="collapse" id="reactjs5">
              <div class="card card-body text-light">
                React.Js es una biblioteca de JavaScript de código abierto utilizada para construir interfaces de usuario. Permite a los desarrolladores crear componentes reutilizables que se pueden utilizar en diferentes partes de una aplicación web.
              </div>
            </div>
            
              <a class="btn btn-dark" data-bs-toggle="collapse" href="#tailcss" role="button" aria-expanded="false" aria-controls="collapseExample">
                TailwindCss
              </a>
              <a class="btn btn-dark" data-bs-toggle="collapse" href="#dalle" role="button" aria-expanded="false" aria-controls="collapseExample">
                Open A.I. Dall-e
              </a>
              
          
            <div class="collapse" id="tailcss">
              <div class="card card-body text-light">
                Tailwind CSS es un framework de diseño de interfaz de usuario (UI) de código abierto que utiliza clases CSS predefinidas para crear diseños consistentes y personalizados. Con Tailwind CSS, los desarrolladores pueden crear diseños complejos con menos código que con otros frameworks CSS.
              </div>
            </div>
            <div class="collapse" id="dalle">
              <div class="card card-body text-light">
                DALL-E es un modelo de inteligencia artificial desarrollado por OpenAI. Se basa en la arquitectura de Transformer y se especializa en la generación de imágenes a partir de descripciones textuales.
              </div>
            </div>

             
              <a class="btn btn-dark" data-bs-toggle="collapse" href="#threejss" role="button" aria-expanded="false" aria-controls="collapseExample">
                Three.Js 
              </a>
              
              
            
            <div class="collapse" id="threejss">
              <div class="card card-body text-light">
                Three.js es una biblioteca de JavaScript que permite crear y renderizar gráficos 3D en un navegador web. Se utiliza comúnmente para crear animaciones y visualizaciones interactivas en línea.
              </div>
            </div>          
        <br>
        <br>
          
          <div class="d-grid gap-2">
            <button class="btn btn-outline-secondary" type="button">
             <a href="https://tshirtcustom.netlify.app/" target="_blank" rel="noopener noreferrer"> Navegar en la Tienda</a>
            </button>
          </div>
        </div>
      </div>

      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>Sistema de registro LocalStorage</h2>
            <img src="/img/login.png" class="card-img-top" alt="webpack" />
            <br />
            <br />
            <p>
              Este sitio web esta desarrollado con las
              siguientes tecnologías :
              
            </p>
            <a class="btn btn-dark" data-bs-toggle="collapse" href="#rheactjs" role="button" aria-expanded="false" aria-controls="collapseExample">
              HTML
            </a>

            <a class="btn btn-dark" data-bs-toggle="collapse" href="#tailwind" role="button" aria-expanded="false" aria-controls="collapseExample">
             CSS
            </a>

            <a class="btn btn-dark" data-bs-toggle="collapse" href="#tailwind" role="button" aria-expanded="false" aria-controls="collapseExample">
              JavaScript
             </a>
            
          
          <div class="collapse" id="tailwind">
            <div class="card card-body text-light">
              Tailwind CSS es un framework de diseño de interfaz de usuario (UI) de código abierto que utiliza clases CSS predefinidas para crear diseños consistentes y personalizados. Con Tailwind CSS, los desarrolladores pueden crear diseños complejos con menos código que con otros frameworks CSS.
            </div>
          </div>
          <div class="collapse" id="rheactjs">
            <div class="card card-body text-light">
              React.Js es una biblioteca de JavaScript de código abierto utilizada para construir interfaces de usuario. Permite a los desarrolladores crear componentes reutilizables que se pueden utilizar en diferentes partes de una aplicación web.
            </div>
          </div>


          

         <br/>
         <br/>
          
            <div class="d-grid gap-2">
              <button 
              class="btn btn-outline-secondary" type="button"
              
              >
              <a href="https://danyveneno.github.io/yehiibhiiStorage/" target="_blank" rel="noopener noreferrer">Navegar en la Pagina</a>  
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6 text-black" id="calculadora">
          <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Web App lirycsFinder </h2>
            <img src="/img/lirycs.png" class="card-img-top" alt="webpack" />
            <br>
            <br>
            <p>
              Este webapp esta desarrollado con las
              siguientes tecnologías :
              
            </p>
            <a class="btn btn-light" data-bs-toggle="collapse" href="#react6" role="button" aria-expanded="false" aria-controls="collapseExample">
            ReactJs
            </a>
            <a class="btn btn-light" data-bs-toggle="collapse" href="#seeseese6" role="button" aria-expanded="false" aria-controls="collapseExample">
             CSS
            </a>
            
          
          <div class="collapse" id="seeseese6">
            <div class="card card-body text-light">
              CSS (Cascading Style Sheets) es un lenguaje de estilo utilizado para describir la presentación y el diseño de un documento HTML (página web). Con CSS, los desarrolladores pueden controlar la apariencia y el formato de los elementos HTML en una página, como el color, la tipografía, el tamaño, el espaciado, el diseño y otros aspectos visuales.
            </div>
          </div>
          <div class="collapse" id="react6">
            <div class="card card-body text-light">
              React.Js es una biblioteca de JavaScript de código abierto utilizada para construir interfaces de usuario. Permite a los desarrolladores crear componentes reutilizables que se pueden utilizar en diferentes partes de una aplicación web.
            </div>
          </div>


          <a class="btn btn-light" data-bs-toggle="collapse" href="#jss" role="button" aria-expanded="false" aria-controls="collapseExample">
           Vite
           </a>
           
         
         <div class="collapse" id="vite">
           <div class="card card-body text-light">
            Vite es un entorno de desarrollo web rápido y liviano para la creación de aplicaciones front-end. Fue desarrollado por Evan You, el creador de Vue.js, y se basa en la filosofía de "bundling on-demand" (empaquetado bajo demanda).
           </div>
         </div>

         <!--<a class="btn btn-light" data-bs-toggle="collapse" href="#bootstrap" role="button" aria-expanded="false" aria-controls="collapseExample">
          Bootstrap
          </a>
          
        
        <div class="collapse" id="bootstrap">
          <div class="card card-body text-black">
            Bootstrap es una popular biblioteca de código abierto que proporciona un conjunto de herramientas y componentes para la creación rápida y sencilla de interfaces de usuario (UI) responsivas y con un diseño moderno. Fue desarrollado por Twitter y se ha convertido en una de las opciones más utilizadas para el diseño y desarrollo de sitios web y aplicaciones web.
          </div>
        </div>-->

<br>
<br>
            
            <div class="d-grid gap-2" >
              <button class="btn btn-outline-secondary text-secondary" type="button" >
               <a href="https://yehiibhiilirycs.netlify.app/" target="_blank" rel="noopener noreferrer" id="bhoton"> Navegar en la WebApp</a>
              </button>
            </div>
          </div>
        </div>
      </div>
      <br />
      <br />
      <!--termina primera seccion-->
      
      
      
      
    </main>

    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

    <%- include('partials/footer')%>
  </body>
</html>
