<footer class="bg-dark text-center">
  <a
    href="https://www.instagram.com/juanitovenenoestudio/"
    target="_blank"
    rel="noopener noreferrer"
    ><i class="fa-brands fa-instagram"></i
  ></a>
  <a
    href="https://www.facebook.com/juanitovenenoestudiodigital"
    target="_blank"
    rel="noopener noreferrer"
    ><i class="fa-brands fa-facebook-square"></i
  ></a>
  <a
    href="https://www.youtube.com/channel/UC8UhdMAKJX56O2PY8kzBIlw"
    target="_blank"
    rel="noopener noreferrer"
    ><i class="fa-brands fa-youtube"></i
  ></a>
  <a
    href="https://www.twitch.tv/yehiibhii"
    target="_blank"
    rel="noopener noreferrer"
    ><i class="fa-brands fa-twitch"></i
  ></a>
  <a
    href="https://github.com/DanyVeneno"
    target="_blank"
    rel="noopener noreferrer"
    ><i class="fa-brands fa-github"></i
  ></a>
  <a
    href="https://open.spotify.com/show/02JMGEAGGkQVFqkngYb4gE?si=f9c1e9285d5c4866"
    target="_blank"
    rel="noopener noreferrer"
    ><i class="fa-solid fa-podcast"></i
  ></a>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
