<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
  <div class="container" id="barra">
    <a class="navbar-brand" href="/"
      ><img
        src="/img/logo-jv.png"
        class="img-fluid float-start"
        alt="logo-img"
        width="30%"
        id="logo"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/servicios">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/podcast">Podcast</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/store">Portafolio</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://danyveneno.github.io/yehiiBhiiEstudio/"
            target="_blank"
            >Perfil</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://venenews.netlify.app/"
            target="_blank"
            >Blog</a
          >
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Servicios Complementarios
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" href="/src/views/manual"
                >Manual de Identidad</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="https://danyveneno.github.io/promo2023/"
                target="_blank"
                >Promoción</a
              >
            </li>
            <li><a class="dropdown-item" href="#0">Proxímo Evento</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
